name: Helm template generator for Cilium

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    paths:
      - .github/workflows/cilium-helm.yml
      - versions
  pull_request:
    paths:
      - .github/workflows/cilium-helm.yml
      - versions
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "cilium"
  cilium:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install Helm cli
        run: >
          curl -sSL https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash &&
          helm version --short
      - name: Add helm repo
        run: >
          helm repo add cilium https://helm.cilium.io/ &&
          helm repo update
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout git repository
        uses: actions/checkout@v6
      - name: Import variables
        run: |
          source versions
          echo ${CILIUM_VERSION}

      - name: Generate Secure Cilium template
        run: |
          source versions
          echo Executing template generation for Cilium ${CILIUM_VERSION}
          mkdir -p templates/cilium/${CILIUM_VERSION}
          helm template cilium cilium/cilium --version ${CILIUM_VERSION} \
          --namespace kube-system \
          $CILIUM_VALUES \
          > templates/cilium/${CILIUM_VERSION}/cilium-secure.yaml

      - name: Generate Cilium template
        run: |
          source versions
          echo Executing template generation for Cilium ${CILIUM_VERSION}
          mkdir -p templates/cilium/${CILIUM_VERSION}
          helm template cilium cilium/cilium --version ${CILIUM_VERSION} \
          --namespace kube-system \
          $CILIUM_VALUES \
          $CILIUM_ENCRYPT \
          > templates/cilium/${CILIUM_VERSION}/cilium.yaml

      - name: Generate Single Node Cilium template
        run: |
          source versions
          echo Executing template generation for Cilium ${CILIUM_VERSION}
          mkdir -p templates/cilium/${CILIUM_VERSION}
          helm template cilium cilium/cilium --version ${CILIUM_VERSION} \
          --namespace kube-system \
          $CILIUM_VALUES \
          $CILIUM_SINGLE_OPERATOR \
          > templates/cilium/${CILIUM_VERSION}/cilium-single-node.yaml

      - name: Update latest symlink
        run: |
          source versions
          echo "Creating 'latest' symlink for Cilium ${CILIUM_VERSION}"
          cd templates/cilium
          rm -f latest
          ln -s ${CILIUM_VERSION} latest

      - name: Push changes
        run: |
          EMAIL=$(echo $GITHUB_REPOSITORY | awk -F / '{print $2"@"$1".github.com"}')
          git config user.email ${EMAIL}
          git config user.name ${GITHUB_ACTOR}
          if [[ -z "$(git status --porcelain)" ]]; then echo "No changes to commit"; exit 0; fi
          echo "Changes found. Proceeding with commit and push."
          git pull
          git add .
          git commit -m "Updating Helm templates for Cilium ${CILIUM_VERSION} in templates/cilium/${CILIUM_VERSION}/"
          git push
