name: Helm template generator for Tetragon

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    paths:
      - .github/workflows/tetragon-helm.yml
      - versions
  pull_request:
    paths:
      - .github/workflows/tetragon-helm.yml
      - versions
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "tetragon"
  # This workflow contains a single job called "tetragon"
  tetragon:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout git repository
        uses: actions/checkout@v5
      - name: Import variables
        run: |
          source versions
          echo ${TETRAGON_VERSION}
      - name: Install Helm cli
        run: >
          curl -sSL https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash &&
          helm version --short
      - name: Add helm repo
        run: >
          helm repo add cilium https://helm.cilium.io/ &&
          helm repo update

      - name: Generate Tetragon template
        run: |
          source versions
          echo Executing template generation for Tetragon ${TETRAGON_VERSION}
          mkdir -p templates/tetragon/${TETRAGON_VERSION}
          helm template tetragon cilium/tetragon -n kube-system  --version ${TETRAGON_VERSION} \
          --namespace kube-system \
          > templates/tetragon/${TETRAGON_VERSION}/tetragon.yaml

      - name: Generate Single Node Tetragon template
        run: |
          source versions
          echo Executing template generation for Tetragon ${TETRAGON_VERSION}
          mkdir -p templates/tetragon/${TETRAGON_VERSION}
          helm template tetragon cilium/tetragon -n kube-system  --version ${TETRAGON_VERSION} \
          --set operator.replicas=1 \
          --namespace kube-system \
          > templates/tetragon/${TETRAGON_VERSION}/tetragon-single-node.yaml

      - name: Update latest symlink
        run: |
          source versions
          echo "Creating 'latest' symlink for Tetragon ${TETRAGON_VERSION}"
          cd templates/tetragon
          rm -f latest
          ln -s ${TETRAGON_VERSION} latest

      - name: Push changes
        run: |
          EMAIL=$(echo $GITHUB_REPOSITORY | awk -F / '{print $2"@"$1".github.com"}')
          git config user.email ${EMAIL}
          git config user.name ${GITHUB_ACTOR}
          if [[ -z "$(git status --porcelain)" ]]; then echo "No changes to commit"; exit 0; fi
          echo "Changes found. Proceeding with commit and push."
          git pull
          git add .
          git commit -m "Updating Helm templates for Tetragon ${TETRAGON_VERSION} in templates/tetragon/${TETRAGON_VERSION}/"
          git push
